<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<style>
    .container {
        padding-top: 10px;
    }

    .error {
        color: red;
    }

    .success {
        color: green;
    }
</style>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <h2
                class="<%= (contentType === 'Invalid URL' || contentType === 'Link Expired') ? 'error' : (contentType === 'Already Verified' ? 'success' : '') %>">
                <%= contentType %>
            </h2>
            <h4>
                <%= content %>
            </h4>
            <a href="/"
                style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Go
                to Homepage</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>